# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/

# Environment variables
.env
.env.*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Tests and Coverage
tests/
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Caches
.ruff_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Docker-specific
Dockerfile
docker-compose.yml
.dockerignore
